$text-face-head: Montserrat,"Helvetica Neue", sans-serif;
$text-face-body: Bitter, "Open Sans", sans-serif;
$text-color-body: rgb(238, 238, 238);
$text-color-head: rgb(255, 255, 255);
$text-color-gray: rgb(110, 112, 113);

$body-background: rgb(0, 0, 0);
$body-border: rgba(255,255,255,.3);
$link-color: rgb(79, 211, 137);
$button-color: rgb(59, 143, 87);
$button-press: rgb(38, 94, 57);

.btn-alt {
  border: 1px solid $body-background;
  background-color: $body-border;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
}
.container-fluid {
  margin-top: 20px;
}
.row {
  margin: 0 auto;
}
.topTitle {
  margin-bottom: -30px;
}
.btns {
  max-height: 200px;
}
.absBtm {
  position: absolute;
  bottom: 10px;
}
#pubToggle {
  margin: 10px;
}
.pubToggle {
  border: 1px solid $body-background;
  color: $text-color-gray;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
}
.pubToggleOn {
  border: 1px solid $link-color;
  color: $text-color-body;
}
.checkbox {
  text-align: center;
  padding-bottom: 25px;
}
#createNew {
  margin-bottom: 10px;
}
#artistList {
  list-style: none outside none;
  padding-left: 0;
}
.artistList {
  height: 700px;
  overflow: auto;
  background-color: $button-press;
  margin: 0 auto;
  padding-top: 10px;
}
.listItem {
  margin: 10px 0;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  .sel {
    border: 1px solid $body-border;
  }
}
.editArtist {
  min-height: 700px;
  background-color: $button-color;
  padding-top: 10px;
}
.listItem .checkbox {
  display: inline;
  padding-left: 5px;
  padding-bottom: 10px;

}