<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span class="modal-header-head">{{firstName}} {{lastName}}</span><br/>
            <span class="modal-header-subhead">{{projectName}}</span>
        </div>
        <div class="modal-body modal-height">
            {{#if photoUrl}}
            <img class="artist-detail-image" src=http://illuminus.jessicamarcus.com/{{photoUrl}} alt="artist's image" />
            {{/if}}
            <p>{{projectDesc}}</p>
            <p>{{artistBio}}</p>
            <p><a href=http://{{webLink}}>http://{{webLink}}</a></p>
        </div>
    </div>
</div>