<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            {{#if projectName}}
            <span class="modal-header-head">{{projectName}}</span> <span class="modal-header-subhead">{{firstName}} {{lastName}}</span>
            {{else}}
            <span class="modal-header-head">{{firstName}} {{lastName}}</span>
            {{/if}}
        </div>
        {{#if photoUrl}}
        <div class="modal-image"><img class="artist-detail-image" src=http://illuminus.jessicamarcus.com/{{photoUrl}} alt="artist's image" /></div>
        {{/if}}
        <div class="modal-body">
            <p>{{projectDesc}}</p>
            <p>{{artistBio}}</p>
            {{#if webLink}}
            <p><a href=http://{{webLink}}>http://{{webLink}}</a> <i class="fa fa-external-link"></i></p>
            {{/if}}
        </div>
    </div>
</div>