<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span class="logo-type">Illuminus</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse-1">
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="about.html">The Event</a></li>
                    <li><a href="artists.html">The Artists</a></li>
                    <li><a href="sponsors.html">Our Sponsors</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="volunteer.html">Volunteer</a></li>
                    <li><a href="forum/">Join the conversation</a></li>
                </ul>
            </li>

            <li><a href="newsfeed.html">Latest News</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>